/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-crosswinds-blocks-basic-grid-item {
	margin-block-start: 1.5rem;
	margin-block-end: 0;
	display: flex;
}
