/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-crosswinds-blocks-accordions {


	.wp-block-crosswinds-blocks-accordion {

		.accordion-title-container {
			position: relative;

			.wp-block-crosswinds-blocks-accordion-title {
				padding-right: 40px;
			}

			.svg-inline--fa {
				position: absolute;
				right: 10px;
				top: 50%;
    			transform: translateY(-50%);
				font-size: 20px;
				height: 20px;
			}
		}
	}
}
