:root {
	--color-cb-primary: #1a134f;
	--color-cb-secondary: #06ccfe;
	--color-cb-tertiary: #8200ff;
	--color-cb-white: #fff;
	--color-cb-black: #000;
}

/* figtree-regular - latin */
@font-face {
	font-family: 'Clash Grotesk';
	font-style: normal;
	font-weight: 100 900;
	src: url('../webfonts/clash-grotesk.woff2');
}

/* figtree-700 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	src: url('../webfonts/inter.woff2');
}
