@media only screen and (max-width: 999px) {
	.wp-block-post-template {

		&.query-loop-has-1-tablet-columns {

			&.wp-block-post-template-is-layout-grid {
				grid-template-columns: repeat(1, minmax(0, 1fr));
			}
		}

		&.query-loop-has-2-tablet-columns {

			&.wp-block-post-template-is-layout-grid {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}

		&.query-loop-has-3-tablet-columns {

			&.wp-block-post-template-is-layout-grid {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}
		}

		&.query-loop-has-4-tablet-columns {

			&.wp-block-post-template-is-layout-grid {
				grid-template-columns: repeat(4, minmax(0, 1fr));
			}
		}
	}
}

@media only screen and (max-width: 649px) {

	.wp-block-post-template {

		&.query-loop-has-1-mobile-columns {

			&.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
				grid-template-columns: repeat(1, minmax(0, 1fr));
			}
		}

		&.query-loop-has-2-mobile-columns {

			&.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}
	}
}
